<%- include('partials/head') %>
<%- include('partials/navbar') %>



<div class="container">
    <%- include('partials/sidenav') %>
    
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">New Books</h1>
            <div class="row justify-content-between">

                <% for(book in books){ %>

              <div class="col-2">
                <div class="card" style="width: 10rem;">
                    <img src="<%= books[book].cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= books[book].title %> </h5>
                      <p class="card-text"><%= books[book].author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="#" class="card-link">Link to this book</a>
                    </div>
                  </div>
              </div>

              <% } %> 


            </div>           
            
          </div>
         



         <% for(book in books){ %>
            <h2><%= books[book].title %></h2>
            <h5>Author: <%= books[book].author %> </h5>
            <img src="<%= books[book].cover %>" alt="">
            <p>Pages: <%= books[book].pages %> </p>
            <p>ISBN: <%= books[book].isbn %> </p>
         <% } %>
            
           
    </article>


<%- include('partials/footer') %>