<%- include('partials/head') %>
<form action="http://localhost:3000/rand" method="post">
  <input type="text" name="books">
  <button>Submit</button>
</form>

<h1>All Books</h1>

<div class="container">
    <%- include('partials/sidenav') %>
    
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">New Books</h1>
            <div class="row justify-content-between">

                <% for(bookData of newBooksFound){ %>
              <div class="col-2">
                <div class="card" style="width: 10rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link">More Detail About This Book</a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Editor's Chioce</h1>
            <div class="row justify-content-between">

                <% for(bookData of editorsChoiceFound){ %>
              <div class="col-2">
                <div class="card" style="width: 10rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link">More Detail About This Book</a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Lives Books</h1>
            <div class="row justify-content-between">

                <% for(bookData of livesBooksFound){ %>
              <div class="col-2">
                <div class="card" style="width: 10rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link">More Detail About This Book</a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Top Novels</h1>
            <div class="row justify-content-between">

                <% for(bookData of topNovelsFound){ %>
              <div class="col-2">
                <div class="card" style="width: 10rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link">More Detail About This Book</a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Terry Pratchett</h1>
            <div class="row justify-content-between">

                <% for(bookData of terryPratchettFound){ %>
              <div class="col-2">
                <div class="card" style="width: 10rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link">More Detail About This Book</a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>

   
 
<%- include('partials/footer') %>