<%- include('partials/head') %>
<!-- Wrap start -->
<main>
<div class="wrap">
  <div class="content parallax bg">
<%- include('partials/navbar') %>
<!-- <form action="http://localhost:3000/search" method="post">
  <input type="text" name="books">
  <button>Submit</button>
</form> -->


<div class="container">
    <%- include('partials/sidenav') %>
    
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">New Books</h1>
            <div class="row justify-content-between">

                <% for(bookData of newBooksFound){ %>
              <div class="col-2">
                <div class="card text-center" style="width: 10rem; height: 29rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link"><button type="button" class="btn btn-primary">More Details</button></a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Editor's Chioce</h1>
            <div class="row justify-content-between">

                <% for(bookData of editorsChoiceFound){ %>
              <div class="col-2">
                <div class="card text-center" style="width: 11rem; height: 29.7rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link"><button type="button" class="btn btn-primary">More Details</button></a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Lives Books</h1>
            <div class="row justify-content-between">

                <% for(bookData of livesBooksFound){ %>
              <div class="col-2">
                <div class="card text-center" style="width: 11rem; height: 29rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link"><button type="button" class="btn btn-primary">More Details</button></a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Top Novels</h1>
            <div class="row justify-content-between">

                <% for(bookData of topNovelsFound){ %>
              <div class="col-2">
                <div class="card text-center" style="width: 11rem; height: 29rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link"><button type="button" class="btn btn-primary">More Details</button></a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Terry Pratchett</h1>
            <div class="row justify-content-between">

                <% for(bookData of terryPratchettFound){ %>
              <div class="col-2">
                <div class="card text-center" style="width: 11rem; height: 29rem;">
                    <img src="<%= bookData.cover %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= bookData.title %> </h5>
                      <p class="card-text"><%= bookData.author %> </p>
                    </div>
                    <div class="card-body">
                      <a href="rand/<%=bookData._id%>" class="card-link"><button type="button" class="btn btn-primary">More Details</button></a>
                    </div>
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>

  </div>
  </div>
  <!-- Wrap end -->
  
 
<%- include('partials/footer') %>

</main>