<%- include('partials/head') %>
<form action="http://localhost:3000/rand" method="post">
  <input type="text" name="books">
  <button>Submit</button>
</form>

<h1>All Books</h1>

<div class="container">
    <%- include('partials/sidenav') %>
    
    <article>

        <div class="container">
            <h1 class="mt-5 mb-3 text-center">Searched Book</h1>
            <div class="row justify-content-between">

                <% for(let i = 0; i < 6; i++){ %>
              <div class="col-2">
                <div class="card" style="width: 10rem;">
                   
                      <h5 class="card-title"><%= booksSearched[i].title %> </h5>
                      <p class="card-text"><%= booksSearched[i].author %> </p>
                    </div>
                    
                  </div>
              </div>
              <% } %> 


            </div>           
            
          </div>
           
    </article>
   

   
 
<%- include('partials/footer') %>