<%- include('partials/head') %>
<%- include('partials/navbar') %>

<h1><%= editorchoicebookFound.title %> </h1>
<ul>
    <li>Author: <%= editorchoicebookFound.author %> </li>
    <li>Pages: <%= editorchoicebookFound.pages %> </li>
    <li>ISBN: <%= editorchoicebookFound.isbn %> </li>
</ul>

<%- include('partials/footer') %>