<%- include('partials/head') %>
<%- include('partials/navbar') %>

<h1><%= bookFound.title %> </h1>
<ul>
    <li>Author: <%= bookFound.author %> </li>
    <li>Pages: <%= bookFound.pages %> </li>
    <li>ISBN: <%= bookFound.isbn %> </li>
</ul>


<%- include('partials/footer') %>