<%- include('partials/head') %>
<%- include('partials/navbar') %>
   


<div class="container">
    <h1>Brosing the <%= name %> Subreddit </h1>
    <h2><%= description %> </h2>
    <p><%= subscribers %> Total Subscribers </p>
    <hr>
    <article>
        <% for(let post of posts){ %>
            <p><%= post.title %> - <strong><%= post.author %></strong>  </p>
            
            <% if(post.img) {%>
                <img src="<%= post.img %>" alt=""> 
                <% } %> 
            
            <% } %> 
    </article>

</div>


<%- include('partials/footer') %>